.profilepic{
	background-image: url("photo.jpg");
	background-size: cover;

	}

body{

	min-height: 80vh;
	background-image: url("wake.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-attachment: fixed;


}

.{
	/*background-color: rgba(255,255,255,0.4);*/
}

